{erl_opts, [debug_info,{i,"include"},{i,"/home/joq62/erlang/include"}]}.
{deps, [
       {lib_sd,{git,"https://github.com/joq62/lib_sd.git",{branch,"main"}}},
       {lib_ssh,{git,"https://github.com/joq62/lib_ssh.git",{branch,"main"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [sys_boot]}
]}.
